:root {
    --color-background-page: rgb(20, 20, 24);
    --color-background-button-login:rgb(0, 149, 246);
    --color-text-login:rgb(255, 255, 255);
    --color-text-logout:rgb(237, 4, 26);
    --color-text-get-app: rgb(255, 255, 255);
    --color-text-not-account:rgb(211, 211, 211);
    --color-text-sign-up:rgb(0, 149, 246);
    --color-box-group: rgb(18, 18, 20);
    --color-box-group-border: rgb(43, 45, 51);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-background-page);
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
}

.instagram-phone .instagram-phone-background {
    height: 50rem;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.instagram-phone .instagram-phone-feed {
    height: 20rem;
    position: absolute;
    top: 100px;
    left: 151px;
    z-index: 1;
}

.instagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 70rem;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 2vh;
    background-color: var(--color-box-group);
    width: 100%;
    padding: 1.3rem 0;
    border-radius: 10px;
    border: 1px solid var(--color-box-group-border);
}

.group a:nth-child(2) {
    color: var(--color-text-logout);
}

.group:nth-child(1) {
    min-width: 19rem;
}

.group a:hover{
    filter: contrast(200%);
}

.instagram-logo {
    height: 3rem;
    filter: invert();
}

.profile-photo {
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 8rem;
}

.instagram-login {
    background-color: var(--color-background-button-login);
    color:var(--color-text-login);
    width: 8rem;
    height: 3rem;
    padding: 2px;
    border-radius: 4px;
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram-logout {
    color:var(--color-text-logout);
    margin-top: 1.5vh;
    font-size: 1.3rem;
    font-weight: 400;
}

.not-account {
    margin-top: 1vh;
    color: var(--color-text-not-account);
    font-size: 1.5rem;
    font-weight: 400;
}

.link-blue {
    margin-top: 2vh;
    color:var(--color-text-sign-up);
    font-size: 1.5rem;
    font-weight: 400;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
    padding: 0.5rem 0;
}

.get-app {
    color: var(--color-text-get-app);
    font-size: 1.6rem;
    font-weight: 400;
}

.get-the-app .download {
    margin-top: 1vh;;
    display: flex;;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.download a:hover{
    filter: contrast(130%);
}

.app-download {
    height: 3rem;
    width: 10rem;
    margin: 0.5rem;
    background-size: contain;
}

.app-download:nth-child(1) {
    background-image: url('./icons/apple-store.png');   
}

.app-download:nth-child(2) {
    background-image: url('./icons/google-play.png')
}

@media (max-width: 1024px) {
    .instagram-wrapper{
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: var(--color-background-page);
    }

    .instagram-wrapper{
        width: 90%;
    }
    
    .instagram-phone {
        display: none;
    }

    .instagram-continue{
        width: 100%;
    }

    .group {
        border: 1px solid transparent;
    }
}